* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  align-items: center;
  align-content: center;
  margin: 15px 5px;
}

.card {
  display: flex;
  flex-direction: row;
}

.saludos {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 5;
  align-self: center;
}