body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.detalle {
    align-self: center;
    margin-top: 2rem;
    margin-left: 40vw;
    margin-bottom: 15px;
}

.details {
    background-color: white;
    color: black;
    font-size: 1rem;
}