* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    margin: 0;
    padding: 0;
    background-image: url(./granos_cafe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: scroll;
    overflow-x: hidden;
}

#root {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.btn {
    width: 200px;
    display: grid;
    grid-template-columns: 150px 50px;
    grid-template-rows: 50px 50px;
    align-content: center;
    align-items: center;
    margin-top: 5px;
    margin-left: 20px;
    padding: 5px;
    gap: 5px;
}

.product-add-button {
    background-color: #5cb85c;
    border-radius: 5px;
    color: #fff;
    border: none;
    font-size: 15px;
    cursor: pointer;
    height: 40px;
    width: 120px;
    grid-column: 1/3;
    grid-row: 1/3;
    margin-left: 50px;

}

.product-minus-button {
    background-color: #d9534f;
    border-radius: 5px;
    color: #fff;
    border: none;
    font-size: 12px;
    cursor: pointer;
    width: 100px;
    height: 30px;
    display: block;
    grid-column: 1/2;
    grid-row: 2/3;
}

.product-plus-button {
    background-color: #337ab7;
    border-radius: 5px;
    color: #fff;
    border: none;
    font-size: 11px;
    cursor: pointer;
    width: 100px;
    height: 30px;
    display: block;
    grid-column: 1/2;
    grid-row: 1/2;
}

.product-quantity {
    color: #fff;
    background-color: #f0ad4e;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    width: 50px;
    grid-column: 2/3;
    grid-row: 1/3;
    align-self: center;
}

.cart-container {
    flex-basis: 20rem;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 400px;
    min-height: 100%;
    margin: 30px 450px;
    background-color: white;
    color: black;

}

.btn-container {
    width: 100%;
    flex-grow: 1;
}

.btn-checkout {
    color: white;
    font-size: 15px;
    background-color: #5cb85c;
    width: 120px;
    height: 50px;
    border-radius: 5px;
    margin-top: 15px;
}

.ProductsCart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex-basis: 10rem;
    flex-grow: 1;
    max-width: 95%;
    border: 1px solid black;
    margin-top: 5px;
    margin-left: 10px;
}